{% assign alt_text = 'felicitails account center, emotional support animal certification, psychiatric service animal certification,  dog and cat training, pet insurance, dog walking, pet sitting, dog boarding, dog dna testing, curated supplies and products, felicitails and free my paws founder lindsay giguiere ' %}

{% assign img_account_center_wish_list = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-wish-list-founded-by-lindsay-giguiere-overlay.png?v=1685640384' %}
{% assign alt_account_center_wish_list = 'felicitails-account-center-wish-list-founded-by-lindsay-giguiere-overlay' %}

<div class="account-main-body">
  <div class="account-main-items">
    <div class="account-main-digitalvault">
      <div class="account-main-item-title">
        <h1>Wish List</h1>
      </div>
      <div class="account-main-item-image">
        <img
          src="{{ img_account_center_wish_list }}"
          alt="{{ alt_account_center_wish_list }}"
        >
      </div>
    </div>
    <div class="account-wishlist-body width-fill">
      <div class="content width-fill">
        <div class="wish-list-items width-fill">
          <div class="wish-list-item">
            <img src="./asset/product3.jpg" alt="{{ alt_text }}">
            <p>Washable Orthopedic Dog Bed, Waterproof with Nonskid Bottom</p>
            <p>From $48.97</p>
            <button class="width-fill">ADD TO CART</button>
          </div>
          <div class="wish-list-item">
            <img src="./asset/product3.jpg" alt="{{ alt_text }}">
            <p>Washable Orthopedic Dog Bed, Waterproof with Nonskid Bottom</p>
            <p>From $48.97</p>
            <button class="width-fill">ADD TO CART</button>
          </div>
          <div class="wish-list-item">
            <img src="./asset/product3.jpg" alt="{{ alt_text }}">
            <p>Washable Orthopedic Dog Bed, Waterproof with Nonskid Bottom</p>
            <p>From $48.97</p>
            <button class="width-fill">ADD TO CART</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
