{% assign alt_text = 'felicitails account center, emotional support animal certification, psychiatric service animal certification,  dog and cat training, pet insurance, dog walking, pet sitting, dog boarding, dog dna testing, curated supplies and products, felicitails and free my paws founder lindsay giguiere ' %}

{% assign img_account_center_subscriptions = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-subscriptions-ordered-founded-by-lindsay-giguiere-overlay.png?v=1685640384' %}
{% assign alt_account_center_subscriptions = 'felicitails-account-center-subscriptions-ordered-founded-by-lindsay-giguiere-overlay' %}

{% assign img_account_center_subscription_shipping_box = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-founded-by-lindsay-giguiere-account-center-subscription-shipping-box.png?v=1685640384' %}

{% assign img_account_center_shopping_bag_icon = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-shopping-bag-icon-founded-by-lindsay-giguiere.svg?v=1685640384' %}

{% assign img_account_center_calender_icon = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-calendar-icon-founded-by-lindsay-giguiere.svg?v=1685640384' %}

{% assign img_account_center_cursor_hand_icon = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-cursor-hand-icon-founded-by-lindsay-giguiere.svg?v=1685640384' %}

<div class="account-main-body">
  <div class="account-main-items">
    <div class="account-main-digitalvault">
      <div class="account-main-item-title">
        <p>Subscriptions</p>
      </div>
      <div class="account-main-item-image">
        <img
          src="{{ img_account_center_subscriptions }}"
          alt="{{ alt_account_center_subscriptions }}"
        >
      </div>
    </div>
    <div class="account-subscriptions-body width-fill">
      <div class="content width-fill">
        <div class="subscribe-body width-fill">
          <img src="{{ img_account_center_subscription_shipping_box }}" alt="{{ alt_text }}">
          <div class="subcribe-body-content width-fill">
            <h4 class="width-fill">Oh No! You haven’t subscribed to any of our products yet.</h4>
            <p class="width-fill">
              With our Subscribe Service, you can schedule auto-deliveries and never run out of your favorite items.
            </p>
            <div class="width-fill"><button>SHOP NOW</button></div>
          </div>
        </div>
        <div class="line-w"></div>
        <div class="subscribe-step">
          <div class="width-fill height-fill">
            <h4>Creating a Subscription is easy:</h4>
          </div>
          <div class="width-fill height-fill">
            <img src="{{ img_account_center_shopping_bag_icon }}" alt="{{ alt_text }}">
            <p>Select an item to subscribe to and enjoy monthly savings on products you use frequently</p>
          </div>
          <div class="width-fill height-fill">
            <img src="{{ img_account_center_calender_icon }}" alt="{{ alt_text }}">
            <p>Select the quantity and schedule that works best for you</p>
          </div>
          <div class="width-fill height-fill">
            <img
              src="{{ img_account_center_cursor_hand_icon }}"
              alt="{{ alt_text }}"
            >
            <p>Add the item to your cart, checkout and it will be delivered to you on auto-pilot</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
