<script>
  $(document).ready(function() {
    $(".pwd_field .show_pwd_icon svg").click(function() {    
      $(this).parent().toggleClass("hide_pwd_icon");
      var input = $(".pwd_field input");
      if (input.attr("type") == "password") {
        input.attr("type", "text");
      } else {
        input.attr("type", "password");
      }
    });
    
    // PassWord Protection
    var passInput = document.getElementById("ResetPassword");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");
    var spacial = document.getElementById("spacial");
    
    // When the user clicks on the password field, show the message box
    // passInput.onfocus = function() {
    //   document.getElementById("pwd_protection").style.display = "flex";
    // }
    
    // When the user clicks outside of the password field, hide the message box
    // passInput.onblur = function() {
    //   document.getElementById("pwd_protection").style.display = "none";
    // }

    passInput.onkeyup = function() {
      // Validate lowercase letters
      var lowerCaseLetters = /[a-z]/g;
      if(passInput.value.match(lowerCaseLetters)) {  
        letter.classList.remove("invalid");
        letter.classList.add("valid");
      } else {
        letter.classList.remove("valid");
        letter.classList.add("invalid");
      }
      
      // Validate capital letters
      var upperCaseLetters = /[A-Z]/g;
      if(passInput.value.match(upperCaseLetters)) {  
        capital.classList.remove("invalid");
        capital.classList.add("valid");
      } else {
        capital.classList.remove("valid");
        capital.classList.add("invalid");
      }
    
      // Validate numbers
      var numbers = /[0-9]/g;
      if(passInput.value.match(numbers)) {  
        number.classList.remove("invalid");
        number.classList.add("valid");
      } else {
        number.classList.remove("valid");
        number.classList.add("invalid");
      }
      
      // Validate length
      if(passInput.value.length >= 8) {
        length.classList.remove("invalid");
        length.classList.add("valid");
      } else {
        length.classList.remove("valid");
        length.classList.add("invalid");
      }
  
      spacials = /[@$!%*?&]/g; 
      if(passInput.value.match(spacials)) { 
        spacial.classList.remove("invalid");
        spacial.classList.add("valid");
      } else {
        spacial.classList.remove("valid");
        spacial.classList.add("invalid");
      }
    }
   
    $('.errors ul li').each(function(){
      var passerror = $(this).text(); 
      if(passerror == "Password is too short (minimum is 5 characters)"){
        $(this).text("Password is too short (minimum is 8 characters)");
      }
    });

});
  
</script>
<div class="page-width">
  <div class="reset_pwd">
    <div class="reset_pwd_img">
      <img src="https://cdn.shopify.com/s/files/1/0068/5454/1410/files/complete-password-reset-with-felicitails-womans-hand-stacking-dog-treats-on-table-felicitails-founded-by-lindsay-giguiere.png?v=1680581501">
    </div>
    <div class="account-form">
      <h2>{{ 'customer.reset_password.title' | t }}</h2>
      <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

      {% form 'reset_customer_password' %}
        {{ form.errors | default_errors }}

        <div class="input-wrapper form-row pwd_field">
          <label for="ResetPassword">
            {{ 'customer.reset_password.password' | t }}
          </label>
          <span class="show_pwd_icon">
            <svg class="show_eye" width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 0.5C6 0.5 1.73 3.61 0 8C1.73 12.39 6 15.5 11 15.5C16 15.5 20.27 12.39 22 8C20.27 3.61 16 0.5 11 0.5ZM11 13C8.24 13 6 10.76 6 8C6 5.24 8.24 3 11 3C13.76 3 16 5.24 16 8C16 10.76 13.76 13 11 13ZM11 5C9.34 5 8 6.34 8 8C8 9.66 9.34 11 11 11C12.66 11 14 9.66 14 8C14 6.34 12.66 5 11 5Z" fill="black"/>
            </svg>
            <svg class="hide_eye" width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.83 6L14 9.16V9C14 8.20435 13.6839 7.44129 13.1213 6.87868C12.5587 6.31607 11.7956 6 11 6H10.83ZM6.53 6.8L8.08 8.35C8.03 8.56 8 8.77 8 9C8 9.79565 8.31607 10.5587 8.87868 11.1213C9.44129 11.6839 10.2044 12 11 12C11.22 12 11.44 11.97 11.65 11.92L13.2 13.47C12.53 13.8 11.79 14 11 14C9.67392 14 8.40215 13.4732 7.46447 12.5355C6.52678 11.5979 6 10.3261 6 9C6 8.21 6.2 7.47 6.53 6.8ZM1 1.27L3.28 3.55L3.73 4C2.08 5.3 0.78 7 0 9C1.73 13.39 6 16.5 11 16.5C12.55 16.5 14.03 16.2 15.38 15.66L15.81 16.08L18.73 19L20 17.73L2.27 0M11 4C12.3261 4 13.5979 4.52678 14.5355 5.46447C15.4732 6.40215 16 7.67392 16 9C16 9.64 15.87 10.26 15.64 10.82L18.57 13.75C20.07 12.5 21.27 10.86 22 9C20.27 4.61 16 1.5 11 1.5C9.6 1.5 8.26 1.75 7 2.2L9.17 4.35C9.74 4.13 10.35 4 11 4Z" fill="black"/>
            </svg>
            <input type="password"
              name="customer[password]"
              id="ResetPassword"
              class="{% if form.errors contains 'password' %}input-error{% endif %}">
          </span>
           <div id="pwd_protection">
              <p id="length" class="invalid">Have a minimum of 8 characters</p>
              <p id="spacial" class="invalid">Have 1 special character like #</p>
              <p id="letter" class="invalid">Have 1 lower case letter</p>
              <p id="number" class="invalid">Have 1 number</p>
              <p id="capital" class="invalid">Have 1 Upper Case Letter</p>
              <p class="valid">Not be your email</p>
            </div>
        </div>

        <div class="input-wrapper form-row pwd_field">
          <label for="PasswordConfirmation">
            {{ 'customer.reset_password.password_confirm' | t }}
          </label>
          <span class="show_pwd_icon">
            <svg class="show_eye" width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 0.5C6 0.5 1.73 3.61 0 8C1.73 12.39 6 15.5 11 15.5C16 15.5 20.27 12.39 22 8C20.27 3.61 16 0.5 11 0.5ZM11 13C8.24 13 6 10.76 6 8C6 5.24 8.24 3 11 3C13.76 3 16 5.24 16 8C16 10.76 13.76 13 11 13ZM11 5C9.34 5 8 6.34 8 8C8 9.66 9.34 11 11 11C12.66 11 14 9.66 14 8C14 6.34 12.66 5 11 5Z" fill="black"/>
            </svg>
            <svg class="hide_eye" width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.83 6L14 9.16V9C14 8.20435 13.6839 7.44129 13.1213 6.87868C12.5587 6.31607 11.7956 6 11 6H10.83ZM6.53 6.8L8.08 8.35C8.03 8.56 8 8.77 8 9C8 9.79565 8.31607 10.5587 8.87868 11.1213C9.44129 11.6839 10.2044 12 11 12C11.22 12 11.44 11.97 11.65 11.92L13.2 13.47C12.53 13.8 11.79 14 11 14C9.67392 14 8.40215 13.4732 7.46447 12.5355C6.52678 11.5979 6 10.3261 6 9C6 8.21 6.2 7.47 6.53 6.8ZM1 1.27L3.28 3.55L3.73 4C2.08 5.3 0.78 7 0 9C1.73 13.39 6 16.5 11 16.5C12.55 16.5 14.03 16.2 15.38 15.66L15.81 16.08L18.73 19L20 17.73L2.27 0M11 4C12.3261 4 13.5979 4.52678 14.5355 5.46447C15.4732 6.40215 16 7.67392 16 9C16 9.64 15.87 10.26 15.64 10.82L18.57 13.75C20.07 12.5 21.27 10.86 22 9C20.27 4.61 16 1.5 11 1.5C9.6 1.5 8.26 1.75 7 2.2L9.17 4.35C9.74 4.13 10.35 4 11 4Z" fill="black"/>
            </svg>
            <input type="password"
            name="customer[password_confirmation]"
            id="PasswordConfirmation"
            class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}">
          </span>          
        </div>

        <div class="large-row">
          <input type="submit" class="btn btn--fullwidth" value="{{ 'customer.reset_password.submit' | t }}">
        </div>
        <p>Once you click on the RESET MY PASSWORD button above, you will be automatically taken to our login page. Once there, enter in your email address and new password to securely login to our site.</p>
      {% endform %}
    </div>
  </div>
</div>
